<div id="helpViewer" rv-show="globalState.isHelpDisplayed">
  <div id="searchTabHeader" rv-show="globalState.isSearchTabActive">
    <p>This tool allows you to locate and evaluate projects for porting.&nbsp;&nbsp;&nbsp;It displays 
      and color codes relevant information, allowing you to quickly estimate how much 
      effort a port might take.&nbsp;&nbsp;&nbsp;You can also setup a basic Jenkins job for the project
      with one click or create a batch file to build and test multiple projects.</p>
  </div>

  <div id="batchTabHeader" rv-show="globalState.isBatchTabActive">
    <p>Import - Allows you to select a local batch file and upload it to the server
      where the tool is running.</p>
    <p>List/Select - List and take action on batch files located on the server and 
      the registered shared location.</p>
    <ul>
      <li>Details - examine and modify the content of a batch file</li>
      <li>Build server - select the build server(s) to run a batch job.&nbsp;&nbsp;&nbsp;Each
          server selected will run the entire batch job</li>
      <li>Build + Test - submit a batch job on the selected build server(s).&nbsp;&nbsp;&nbsp;This
          takes approximately 2 minutes for 25 projects.</li>
      <li>Archive - copy the batch file to a shared location (configured by the Settings menu),
          so that other autoport installations may use it</li>
      <li>Remove - erase a batch file from the local or archived location</li>
    </ul>
  </div>

  <div id="reportsTabHeader" rv-show="globalState.isReportsTabActive">
    <p>You may look at the test history of a project or batch file and generate
      comparisons across platforms and project versions.&nbsp;&nbsp;&nbsp;Like batch files, test 
      results are stored locally on the server, until you archive them to the
      shared location.&nbsp;&nbsp;&nbsp;Select the type of report that you would like generated.</p>
  </div>

  <div id="jenkinsTabHeader" rv-show="globalState.isJenkinsTabActive">
    <p>This tab provides services related to Jenkins build servers.&nbsp;&nbsp;&nbsp;You can monitor
       the state of individual Jenkins build servers and jenkins jobs using the Jenkins
       dashboard.&nbsp;&nbsp;&nbsp;If a Jenkins job runs longer than expected and appears
       to be hung, then you should terminate it using the Jenkins dashboard.&nbsp;&nbsp;&nbsp;Autoport
       provides install services that operate on the build slaves.&nbsp;&nbsp;&nbsp;You can also
       upload a package to be installed.&nbsp;&nbsp;&nbsp;Install services are in general used
       to resolve missing dependencies.</p>
  </div>

</div>
