<div id="helpViewer" rv-show="globalState.isHelpDisplayed">
  <div id="searchTabHeader" rv-show="globalState.isSearchTabActive">
    <p>This tool allows you to locate and evaluate projects for porting. It displays 
      and color codes relevant information, allowing you to quickly estimate how much 
      effort a port might take.</p>
    <p>You can also setup a basic Jenkins job for the project with one click.</p>
    <p>You also have the ability to create a batch file to build and test multiple projects.</p>
  </div>

  <div id="batchTabHeader" rv-show="globalState.isBatchTabActive">
    <p>Import - Allows you to select a local batch file and upload it to the server
      where the tool is running.</p>
    <p>List/Select - List and take action on batch files located on the server and 
      the registered shared location.</p>
    <ul>
      <li>Submit - create a Jenkins job for each project listed in the batch file.</li>
      <li>Archive - when a batch file is successfully built and tested, you can make it globally 
        visible by copying it to the registered batch directory in gsa.</li>
      <li>Remove - erase a batch file from the server or the shared location.</li>
    </ul>
  </div>

  <div id="reportsTabHeader" rv-show="globalState.isReportsTabActive">
    <p>You may look at the test history of a project or batch file and generate
      comparisons across platforms and project versions. Like batch files, test 
      results are stored locally on the server, until you archive them to the shared location.</p>
    <p>Select the type of report that you would like generated.</p>
  </div>
</div>
