{% load i18n %}

<div class="row">
  <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <!-- Widget ID (each widget will need unique ID)-->
    <div class="jarviswidget jarviswidget-color-darken" data-widget-editbutton="false" data-widget-deletebutton="false">
      <header>
        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
        <h2>{% trans "Instances" %} </h2>
      </header>
      <div>
        <div class="jarviswidget-editbox">
        </div>
          {{ table.render }}
      </div>
    </div>
  </article>
</div>
