/* Global properties */
.jumbotron {
	margin-top: 10px;
}

.label {
    margin-right: 5px;
}

.first-label {
    margin-left: 5px;
}

.tip {
    display: inline;
    position: relative;
}

.tip:hover:after {
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    font-weight: normal;
    font-size: 12px;
}

.tip:hover:before {
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
    font-size: 12px;
}

.result-title {
	font-weight: bold;
}

.glyphicon {
	margin-right: 6px;
}

/* Search result properties */

.candidate-description {
	width: 80%;
	margin: 4px 100px 0 0px;
	float: left;
	padding-left: 4px;
	border-left: 4px solid #e5e5e5;
	font-weight: 700;
	display: none;
}

.result-row:hover .candidate-description {
	display: inline;
}

/* Detail properties */
.addToJenkins {
    float: right;
}

.fatLabel {
    font-size: 14px;
}

.legend {
    display: inline-block;
}

.legend > .label {
    margin-bottom: 5px;
    display: list-item;
    font-size: 12px;
}

.chart {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}