/* Global properties */
a {
    cursor: pointer;
}

.jumbotron {
	margin-top: 10px;
}

.label {
    margin-right: 5px;
}

.first-label {
    margin-left: 5px;
}

.tip {
    display: inline;
    position: relative;
}

.tip:hover:after {
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    font-weight: normal;
    font-size: 12px;
}

.tip:hover:before {
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
    font-size: 12px;
}

.result-title {
	font-weight: bold;
}

.glyphicon {
	margin-right: 6px;
}

/* Search result properties */

.candidate-description {
	width: 80%;
	margin: 4px 100px 0 0px;
	float: left;
	padding-left: 4px;
	border-left: 4px solid #e5e5e5;
	font-weight: 700;
	display: none;
}

.result-row:hover .candidate-description {
	display: inline;
}

/* Detail properties */
.autoSelectText {
    line-height: 2.42857;
}

.backToResults {
    margin-top: 10px;
    display: block;
}

.exitAutoSelectButton {
    background-color: transparent;
    border-color: #AEC09F;
}

.exitAutoSelectButton:hover {
    background-color: #fff;
}

.buttonRight {
    float: right;
}

.buttonLeft {
    margin-top: 10px;
    margin-left: 0px;
    float: left;
}

.fatLabel {
    font-size: 14px;
}

.legend {
    display: inline-block;
    min-height: 150px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.legend > .label {
    margin-bottom: 5px;
    display: list-item;
    font-size: 12px;
}

.chart {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    color: #000000;
    background-color: #FFFFFF;  
} 

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #000000;
    background-color: #DDDDDD;  
} 

.tab-pane > .jumbotron {
    margin-bottom: 10px;
    background-color: #DDDDDD;  
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: default;
  background-color: #FFFFFF;
  opacity: 1;
}

.jumbotron > h2 {
    margin-top: -25px;
    margin-bottom: 20px;
    font-size: 20px;
}

.jumbotron > .btn.btn-default.btn-block > h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.nav-tabs.nav-justified > li > a {
    border-style: solid;
    border-width: 1px;
    border-color: #DDDDDD;
}

.jumbotron-button-content {
    margin-top: 35px;
    margin-bottom: 0px;
}

.tab-pane > .jumbotron {
    padding: 1em;
}

/* Modal Styling*/
.modalButton {
    float: right;
}

.modalButtonLeft {
    float: left;
}

.modalAttributes span {
    display: block;
    overflow: hidden;
    padding-right: 4px;
    padding-bottom: 8px;
}

.modalAttributes span input {
    width: 100%;
}

/* Progress Bar and Button Styling*/
.progressButton {
    float: right;
}

.linkText {
    font-size: 18px;
}

.progressText {
    font-size: 18px;
    list-style-position: inside;
}

/* Test Results Table Styling */
#testResultsTable td,th {
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    padding: 3px;
}
#testBatchResultsTable td,th {
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    padding: 3px;
}

#testResultsTable th.testSuite {
    background-color: lightgrey;
}

#testResultsTable td.testClass {
}

#testResultsTable td.testResult {
    text-align: right;
}

#testResultsTable td.testResultArch {
    text-align: right;
    border-left: 1px solid black;
}

#testResultsTable td.testErr {
    color: red;
    font-weight: bold;
}

#testResultsTable {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

.table-container {
    margin: 5px;
}

/* for diff output display */
#logdiffHeader {
    border-style: none;
    width: 100%;
}

.diffrow {
    width: 100%;
    height: calc(100% - 40px);
}
.diffcol {
    width: calc(100% / 2);
    height: 100%;
    float: left;
}

.no-text-glyphicon {
    margin: 0px;
}

.embedded-panel{
    margin: 10px 30px !important;
    padding: 14px !important;
}

#loading_screen{
    width: 213px;
    height: 50px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.glyphicon-refresh-animate {
   -webkit-animation-name: rotateThis;
   -webkit-animation-duration: 2s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-timing-function: linear;
   -moz-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes "rotateThis" {
 from {
        -webkit-transform: rotate( 0deg );
    }
 to  {
        -webkit-transform: rotate( 360deg );
    }
}

@-moz-keyframes spin2 {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}

.mainTitle{
    font-family: Arial;
    font-weight:bold;
    font-size:18px;
}
