<!-- Bootstrap -->
<link href="{{ url_for('static', filename='css/lib/bootstrap.min.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='css/lib/bootstrap-multiselect.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='css/lib/bootstrap-table.min.css') }}" rel="stylesheet"/>

<!-- DataTables -->
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" href="http://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.css"/>

<!-- other -->
<link href="{{ url_for('static', filename='css/lib/wave.css') }}" rel="stylesheet"/>

<!-- project specific -->
<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet"/>
