<!-- Bootstrap -->
<link href="{{ url_for('static', filename='css/lib/bootstrap.min.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='css/lib/bootstrap-multiselect.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='css/lib/bootstrap-table.min.css') }}" rel="stylesheet"/>

<!-- DataTables -->
<link href="{{ url_for('static', filename='css/lib/jquery.dataTables.min.css') }}" rel="stylesheet"/>
<link href="{{ url_for('static', filename='css/lib/dataTables.bootstrap.css') }}" rel="stylesheet"/>

<!--qtip2 -->
<link href="{{ url_for('static', filename='css/lib/jquery.qtip.min.css') }}" rel="stylesheet"/>

<!-- other -->
<link href="{{ url_for('static', filename='css/lib/wave.css') }}" rel="stylesheet"/>

<!-- project specific -->
<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet"/>
