<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Hashing algorithms, as element IDs can't have any special chars -->
<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>
<script type="text/javascript"src="http://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/bootstrap-multiselect.js') }}"></script>
<script src="http://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script src="{{ url_for('static', filename='js/lib/rivets.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/legend.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/moment.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/tinycolor.js') }}"></script>
<script src="{{ url_for('static', filename='js/binders.js') }}"></script>
<script src="{{ url_for('static', filename='js/formatters.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
