
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ url_for('static', filename='js/lib/jquery.min.js') }}"></script>

<!-- Hashing algorithms, as element IDs can't have any special chars -->

<script src="{{ url_for('static', filename='js/lib/md5.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery.dataTables.min.js') }}"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/bootstrap-multiselect.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/bootstrap-table.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/bootstrap-table-en-US.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/dataTables.bootstrap.js') }}"></script>

<script src="{{ url_for('static', filename='js/lib/rivets.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/legend.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/moment.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/tinycolor.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/FileSaver.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/jquery.qtip.min.js') }}"></script>
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/binders.js') }}"></script>
<script src="{{ url_for('static', filename='js/formatters.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/lib/bootstrap-notify.min.js') }}"></script>

