<!-- MANAGE JENKINS SLAVE NODES -->
<div class="jumbotron">
  <div class="btn btn-default btn-block" rv-on-click="jenkinsState.setJenkinsSlavePanel" id="jenkinsSlaveButton">
    <h2 class="text-center">Manage Jenkins Slave Nodes</h2>
  </div>

  <div id="jenkinsSlavePanel" class="jumbotron-button-content" rv-show="jenkinsState.jenkinsSlavePanel">

    <!--List / Install / Remove software on a given build server START-->
    <div class="jumbotron embedded-panel">
      <div class="btn btn-default btn-block" rv-on-click="jenkinsState.setManageSingleSlavePanel" id="manageSingleSlaveButton">
        <h2 class="text-center">List / Install / Remove software</h2>
      </div>

      <div id="manageSingleSlavePanel" class="jumbotron-button-content" rv-show="jenkinsState.manageSingleSlavePanel">
        <!-- Build server selector, package input box-->
        <div class="row">
          <div class="col-lg-8">
            <input type="text"
              class="form-control"
              placeholder="(e.g. firefox or leave blank to see which packages are installed)"
              id="packageFilter_Single"/>
          </div>

          <div class="col-lg-4">
            <span>
              <select id="singleJenkinsBuildServers" size="2" rv-on-change="jenkinsState.changeBuildServer"><!-- Adding the size attribute with a value > 1 ensures that none of the options are selected by default.-->
                <option rv-each-nodelabel="jenkinsState.nodeLabels" rv-value="nodelabel">{ nodelabel }</option>
              </select>
            </span>
            <a rv-on-click="jenkinsState.listPackageForSingleSlave">
              <button type="button" class="btn btn-primary">
                List
               </button>
            </a>
          </div>
        </div>
        <br/>

        {% include "tabs/monitoring-tab/loading.html" %}

        <div rv-show="jenkinsState.singleSlavePackageTableReady">
          <div class="alert alert-success">
            <div>Actions taken on the list below apply only to the chosen build server.  The managed package list is not updated. In this way you may customize the runtime environment of a given build server to facilitate a specific porting effort. When you are done, use the install services provided below to restore the managed runtime environment.</div>
          </div>
          <div id="singleServerPackageListToolbar" class="btn-group">
              <a rv-on-click="jenkinsState.installPackageForSingleSlave">
                <button type="button" class="btn btn-primary" id="singlePanelInstallBtn">
                  Install / Update
                </button>
              </a>
              <a rv-on-click="jenkinsState.removePackageForSingleSlave">
                <button type="button" class="btn btn-primary"  id="singlePanelRemoveBtn">
                  Remove
                </button>
              </a>
          </div>

          <!-- START SINGLE SERVER PACKAGE LIST TABLE -->
          <table class="table panel panel-default" id="singleServerPackageListTable" data-pagination="true" data-click-to-select="true" data-maintain-selected="true" data-toolbar="#singleServerPackageListToolbar">
            <thead>
              <tr>
                <th data-field="state" data-checkbox="true"></th>
                <th data-field="packageName" data-sortable="true">Package</th>
                <th data-field="installedVersion" data-sortable="true">Installed Version</th>
                <th data-field="updateVersion" data-sortable="true">Available Version</th>
                <th data-field="updateAvailable" data-sortable="true" data-formatter="updatableFormatter">Updatable</th>
                <th data-field="summary" data-sortable="true">Package Summary</th>
              </tr>
            </thead>
          </table>
          <!-- END SINGLE SERVER PACKAGE LIST TABLE -->
        </div>

        {% include "tabs/monitoring-tab/packageloading.html" %}

      </div>
     </div>
    <!--List / Install / Remove software on a given build server END-->

    <!--List / Install / Remove software across build servers START-->
    <div class="jumbotron embedded-panel">
      <div class="btn btn-default btn-block" rv-on-click="jenkinsState.setManageMultipleSlavePanel" id="manageMultipleSlaveButton">
        <h2 class="text-center">List / Install / Remove software using managed runtime services</h2>
      </div>

      <div id="manageMultipleSlavePanel" class="jumbotron-button-content" rv-show="jenkinsState.manageMultipleSlavePanel">
        <div class="row">
          <div class="col-lg-8">
            <input type="text"
              class="form-control"
              placeholder="(e.g. redis, cassandra, mongo)"
              id="packageFilter_Multiple"/>
          </div>

          <div class="col-lg-4">
            <a>
              <button id="mlRHEL" type="button" class="btn btn-primary" rv-on-click="jenkinsState.listManagedPackages">
                List RHEL
              </button>
            </a>
            <a>
              <button id="mlUbuntu" type="button" class="btn btn-primary" rv-on-click="jenkinsState.listManagedPackages">
                List Ubuntu
              </button>
            </a>
            <a>
              <button id="mlAll" type="button" class="btn btn-primary" rv-on-click="jenkinsState.listManagedPackages">
                List All
              </button>
            </a>
          </div>
        </div>
        <br/>

        {% include "tabs/monitoring-tab/managed-packages-loading.html" %}

        <div rv-show="jenkinsState.managedPackageTableReady">
            <div class="alert alert-success" rv-show="jenkinsState.manageManagePanelFilter">
                Package search result is based on the package name and package description.
            </div>
          <div class="alert alert-success">
            <a class="buttonRight">
               <span>
                    <select id="buildServersToSyncDropDown" multiple="multiple" size="2">
                    </select>
               </span>
              <button type="button" id="syncManagedPackageButton" class="btn btn-primary" rv-on-click="jenkinsState.synchManagedPackageList">
                Synch
              </button>
            </a>
            <div>This tool defines a minimum set of packages and package versions that cannot be removed. You can search for new packages
                 and <b>Add</b> them to the Managed List.  You can <b>Remove</b> any package that you added, but you cannot remove packages
                 from the minimum set as they are required for proper function.  These packages cannot be selected --- gray selection box.
                 Once the Managed List is correct, select a <b>Build server</b> and press <b>Sync</b> and install procedures will commence.
            </div>
          </div>
          <br/>
          {% include "tabs/monitoring-tab/managed-packages-action-loading.html" %}
          <!-- START MULTIPLE SERVER PACKAGE LIST TABLE -->
          <div id="multiServerPackageListToolbar" class="btn-group">
              <a rv-on-click="jenkinsState.addToManagedList">
                <button type="button" class="btn btn-primary" id="addToManagedList">
                  Add
                </button>
              </a>
              <a  rv-on-click="jenkinsState.removeFromManagedList">
                <button id="removeFromManagedList" type="button" class="btn btn-primary">
                  Remove
                </button>
              </a>
          </div>

          <!-- START MULTI SERVER PACKAGE LIST TABLE -->
          <table class="table panel panel-default" id="multiServerPackageListTable" data-sort-name="packageName" data-pagination="true" data-click-to-select="true" data-maintain-selected="true" data-toolbar="#multiServerPackageListToolbar">
            <thead>
              <tr>
                <th data-field="state" data-checkbox="true" data-formatter="jenkinsState.stateFormatter"></th>
                <th data-field="pkg_name" data-sortable="true">Package</th>
                <th data-field="managedPackageVersion" data-sortable="true">Managed Version</th>
                <th data-field="installedVersion" data-sortable="true">Installed Version</th>
                <th data-field="updateVersion" data-sortable="true">Latest Version</th>
                <th data-field="removablePackage" data-sortable="true">Removable</th>
                <th data-field="os_arch" data-sortable="true">OS</th>
                <th data-field="nodeLabel" data-sortable="true">Node</th>
              </tr>
            </thead>
          </table>
          <!-- END MULTIPLE SERVER PACKAGE LIST TABLE -->
        </div>
      </div>
    </div>
    <!--List / Install / Remove software across build servers END-->
  </div>
</div>
