<div class="jumbotron">
  <div class="btn btn-default btn-block" rv-on-click="jenkinsState.setUploadPackagePanel">
    <h2 class="text-center">Upload Packages To Repository</h2>
  </div>

  <div rv-show="jenkinsState.uploadPackagePanel" class="input-group jumbotron-button-content" style="">
    <input type="text" disabled="" id="uploadPackageName" placeholder="No file selected for uploading." class="form-control">
    <div class="input-group-btn">
      <div class="btn btn-default btn-file">
        Select File <input type="file" name="packageFile" id="packageFile" rv-on-change="jenkinsState.onPackageFileSelected">
      </div>
    </div>
    <div class="input-group-btn dropdown" rv-show="jenkinsState.showPackageTypeSelector">
      <span>
        <select id="packageTypeOnPackageUpload" size="2">
          <option value="ant_binary">[binaries] ant</option>
          <option value="maven_binary">[binaries] maven</option>
          <option value="gradle_binary">[binaries] gradle</option>
          <option value="scala binary">[binaries] scala</option>
          <option value="ibm-java-sdk">IBM Java</option>
          <option value="ibm-sdk-nodejs">IBM SDK for Node.js</option>
          <option value="perl_modules">[modules] perl</option>
          <option value="python_modules">[modules] python</option>
          <option value="protobuf_source">[source code] protobuf</option>
        </select>
      </span>
    </div>
    <div class="input-group-btn">
      <div rv-on-click="jenkinsState.uploadPackage" class="btn btn-primary">
        Upload
      </div>
    </div>
  </div>
</br>
{% include "tabs/monitoring-tab/package-upload-loading.html" %}
</div>
