<div class="jumbotron">
  <div class="btn btn-default btn-block" rv-on-click="jenkinsState.setUploadPackagePanel">
    <h2 class="text-center">Upload Packages To Repository</h2>
  </div>

  <div rv-show="jenkinsState.uploadPackagePanel" class="input-group jumbotron-button-content" style="">
    <input type="text" disabled="" id="uploadPackageName" placeholder="No file selected for uploading." class="form-control">
    <div class="input-group-btn">
      <div class="btn btn-default btn-file">
        Select File <input type="file" name="packageFile" id="packageFile" rv-on-change="jenkinsState.onPackageFileSelected">
      </div>
    </div>
    <div class="input-group-btn dropdown" rv-show="jenkinsState.showPackageTypeSelector">
      <span>
        <select id="packageTypeOnPackageUpload" size="2">
          <option value="ant_source">ant_source</option>
          <option value="maven_source">maven_source</option>
          <option value="gradle_source">gradle_source</option>
          <option value="nodejs_source">nodejs_source</option>
          <option value="ibm-java_source">ibm-java_source</option>
          <option value="perl_modules">perl_modules</option>
          <option value="python_modules">python_modules</option>
          <option value="protobuf_source">protobuf_source</option>
        </select>
      </span>
    </div>
    <div class="input-group-btn">
      <div rv-on-click="jenkinsState.uploadPackage" class="btn btn-primary">
        Upload
      </div>
    </div>
  </div>
</br>
{% include "tabs/monitoring-tab/package-upload-loading.html" %}
</div>
