<div class="jumbotron">
  <div class="btn btn-default btn-block" rv-on-click="batchState.setListPanel">
    <h2 class="text-center">List/Select</h2>
  </div>

  <div class="jumbotron-button-content" rv-show="batchState.showListPanel">

    <!-- Batch file list selector (local, archived, all) -->
    <div class="row">
      <div class="col-lg-8">
        <input type="text" class="form-control" placeholder="Enter batch file name."
          id="batchFileFilter"/>
      </div>
      <div class="col-lg-4">
        <div class="btn btn-primary" rv-on-click="batchState.listLocalBatchFiles">
          List local
        </div>
        <div class="btn btn-primary" rv-on-click="batchState.listArchivedBatchFiles">
          List archived
        </div>
        <div class="btn btn-primary" rv-on-click="batchState.listAllBatchFiles">
          List all
        </div>
      </div>
    </div>

    <br />

    <!-- List batch files table -->
    <div rv-show="batchState.showListSelectTable">
      <div id="batchListSelectToolbar" class="btn-group">
        <a rv-on-click="batchState.detail">
            <button type="button" class="btn btn-primary"
                style="float: left; margin-right: 10px; margin-left: 10px; border-radius: 5px">
                <span class="glyphicon glyphicon-zoom-in"></span>
                    Details
            </button>
        </a>
        <select id="batchBuildServers" multiple="multiple" style="margin-right: 10px; float: left">
          <option rv-each-nodelabel="jenkinsState.nodeLabels" rv-value="nodelabel">{ nodelabel }</option>
        </select>
        <a rv-on-click="batchState.buildAndTest">
          <button type="button" class="btn btn-primary" style="margin-left: 10px; margin-right: 10px; border-radius: 5px; float: left">
            Build + Test
          </button>
        </a>
        <a rv-show="batchState.selectedBatchFile.location | isLocal"
          rv-on-click="batchState.archive">
          <button type="button" class="btn btn-primary" id="batch_file_archive"
           style="float: left; margin-right: 10px">
            Archive
          </button>
        </a>
        <a rv-on-click="batchState.remove">
            <button type="button" class="btn btn-primary disabled" id="batch_file_remove" style="float: left; margin-right: 10px">
                Remove
            </button>
        </a>
      </div>
      <table class="table panel panel-default" id="batchListSelectTable"
        data-pagination="true" data-click-to-select="true"
        data-toolbar="#batchListSelectToolbar" data-single-select="true">
        <thead>
          <tr>
            <th data-field="state" data-checkbox="true"></th>
            <th data-field="name" data-sortable="true">Name</th>
            <th data-field="location" data-sortable="true">Location</th>
            <th data-field="environment" data-sortable="true">Environment</th>
            <th data-field="owner" data-sortable="true">Owner</th>
            <th data-field="size" data-sortable="true">Size</th>
            <th data-field="datemodified" data-sortable="true">Date Modified</th>
          </tr>
        </thead>
      </table>
    </div>

    <!-- Show batch files reports table -->
    <div rv-show="batchState.showBatchReportsTable">
      <table class="table panel panel-default" id="batchReportsTable"
        data-pagination="true" data-click-to-select="true"
        data-toolbar="#batchReportsToolbar">
        <thead>
          <tr>
            <th data-field="state" data-radio="true"></th>
            <th data-field="name" data-sortable="true">Name</th>
            <th data-field="status" data-sortable="true">Status</th>
          </tr>
        </thead>
      </table>
      <div class="row buttonLeft">
        <a rv-on-click="batchState.backToBatchList">
          <button class="btn btn-info" type="button">
            <span class="glyphicon glyphicon-chevron-left"></span>
            Back to list
          </button>
        </a>
      </div>
    </div>

    {% include "tabs/batch-tab/loading.html" %}

    <!-- List batch file content table -->
    <div class="alert alert-success clearfix" rv-show="batchState.showBatchFile">
      <span class="autoSelectedText">
        <div>
          The following packages will be submitted to be built and tested in order.&nbsp;&nbsp;&nbsp;This allows
          you to manage package dependencies by including them in the batch file before the package that depends on them and
          submitting the batch file as a job to be executed on a specific build server.&nbsp;&nbsp;&nbsp;Alternatively,
          you can install packages on build servers themselves using services provided on the Build Server tab.
        </div>
        <br />
        <div class="row">
          <div class="col-lg-8">
            <input type="text" class="form-control" rv-value="batchState.saveBatchFileName" id="saveBatchFileFilter"/>
          </div>
          <a rv-on-click="batchState.saveBatch">
            <button type="button" class="btn btn-primary">
              Save
            </button>
          </a>
          <select id="batchBuildServersFromDetails" multiple="multiple">
            <option selected="selected" rv-each-nodelabel="jenkinsState.nodeLabels" rv-value="nodelabel">{ nodelabel }</option>
          </select>
          <a rv-on-click="batchState.buildAndTestDetail">
            <button type="button" class="btn btn-primary">
              Build + Test
            </button>
          </a>
        </div>
        <div class="row buttonLeft">
          <a rv-on-click="batchState.backToBatchList">
            <button type="button" class="btn btn-primary">
              <span class="glyphicon glyphicon-chevron-left"></span>
              Back
            </button>
          </a>
        </div>
      </span>
    </div>

    <!-- List batch file config section -->
    <table class="table panel panel-default" rv-show="batchState.showBatchFile">
      <thead>
        <tr>
          <th>File name</th>
          <th>Owner</th>
          <th>Java</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr class="result-row">
          <td>
            { batchState.batchFile.config.name }
          </td>
          <td>
            { batchState.batchFile.config.owner }
          </td>
          <td>
            { batchState.batchFile.config.java }
          </td>
          <td class="col-lg-2">
            <button class="btn btn-primary modalButtonLeft" data-toggle="modal" data-target="#settingsBatchModal">
              <span class="glyphicon glyphicon-wrench"></span>
              Settings
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- List batch file package table -->
    <table class="table panel panel-default" rv-show="batchState.showBatchFile">
      <thead>
        <tr>
          <th>Name</th>
          <th>Version</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody rv-each-package="batchState.batchFile.packages">
        <tr class="result-row">
          <td>
            { package.name }
          </td>
          <td>
            { package.tag }
          </td>
          <td class="col-lg-2">
            <a rv-on-click="package.up">
              <button type="button" class="btn btn-primary">
                <span class="no-text-glyphicon glyphicon glyphicon-arrow-up"></span>
              </button>
            </a>
            <a rv-on-click="package.down">
              <button type="button" class="btn btn-primary">
                <span class="no-text-glyphicon glyphicon glyphicon-arrow-down"></span>
              </button>
            </a>
            <a rv-on-click="package.remove">
              <button type="button" class="btn btn-primary">
                <span class="no-text-glyphicon glyphicon glyphicon-remove"></span>
              </button>
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- batch file environment settings -->
    <div class="modal fade" id="settingsBatchModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="modalLabel">Set Environment</h4>
          </div>
          <div class="modal-body" id="settingsBatchModal">
            <div class="attributes modalAttributes">
              <div class="row">
              <!-- Dropdown box for choosing what kind of Java to use. -->
                <div class="col-lg-2 input-group-btn">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Use { batchState.batchFile.config.java } <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li rv-on-click="batchState.selectJavaType"><a>OpenJDK</a></li>
                      <li rv-on-click="batchState.selectJavaType"><a>IBM Java</a></li>
                    </ul>
                </div>
              </div>
              <!-- Dropdown box for choosing what kind of JavaScript to use. -->
              <!-- Dropdown box for choosing what kind of Python to use. -->
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            <button rv-on-click="batchState.resetEnviron" type="button"
              class="btn btn-primary">Reset to Default</button>
            <button rv-on-click="batchState.updateEnviron" type="button"
              class="btn btn-primary" data-dismiss="modal">Save Changes</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
