<div class="jumbotron">
  <div class="btn btn-default btn-block" rv-on-click="batchState.setListPanel">
    <h2 class="text-center">List/Select</h2>
  </div>

  <div class="jumbotron-button-content" rv-show="batchState.listPanel">
    
    <!-- Batch file list selector (local, archived, all) -->
    <div class="row">
      <div class="col-lg-8">
        <input type="text"
            class="form-control"
            placeholder="Enter batch file name."
            id="batchFileFilter"/>
      </div>
      
      <div class="col-lg-4">
        <a rv-on-click="batchState.listLocalBatchFiles">
          <button type="button" class="btn btn-primary">
            List local
          </button>
        </a>
        <a rv-on-click="batchState.listGSABatchFiles">
          <button type="button" class="btn btn-primary">
            List archived
          </button>
        </a>
        <a rv-on-click="batchState.listAllBatchFiles">
          <button type="button" class="btn btn-primary">
            List all
          </button>
        </a>
      </div>
    </div>

    <br />

    <!-- Batch file table -->             
    <table class="table panel panel-default" rv-show="batchState.ready">
      <thead>
        <tr>
          <th>Name</th>
          <th>Location</th>
          <th>Environment</th>
          <th>File Details</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody rv-each-result="batchState.fileList">
        <tr class="result-row">
          <td>
            { result.name }
          </td>
          <td>
            { result.location }
          </td>
          <td>
            { result.environment }
          </td>
          <td>
            Size: { result.size } bytes
            <br />
            Date Modified: { result.datemodified }
            <br />
            Owner: { result.owner }
          </td>
          <td>
            <a rv-on-click="batchState.buildAndTest">
              <button type="button" class="btn btn-primary">
              Build + Test
              </button>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  
  </div>
</div>
