<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AutoPort</title>

    {% include "includes/css-includes.html" %}

  </head>
  <body>
      <div id="loading_screen">
          <button class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>AutoPort Loading...</button>
      </div>
      <div class="container hide" id="toolContainer">

        {% include "error.html" %}

        {% include "header/header.html" %}

        <div class="jumbotron">

          <h2>
          <ul class="nav nav-tabs nav-justified">
            <li class="active"><a rv-on-click="globalState.headerChange"
              id="searchTab" data-toggle="tab" href="#searchProject">Search</a></li>
            <li><a rv-on-click="globalState.headerChange" 
              id="batchTab" data-toggle="tab" href="#batchPanel">Batch Jobs</a></li>
            <li><a rv-on-click="globalState.headerChange" 
              id="reportsTab" data-toggle="tab" href="#jobReports">Reports</a></li>
            <li><a rv-on-click="globalState.headerChange" 
              id="jenkinsTab" data-toggle="tab" href="#jenkinsStatus">Build Servers</a></li>
          </ul>
          </h2>

          <div class="tab-content">
            
            {% include "tabs/search-tab/search-tab.html" %}
            
            {% include "tabs/batch-tab/batch-tab.html" %}
            
            {% include "tabs/reports-tab/reports-tab.html" %}
        
            {% include "tabs/monitoring-tab/monitoring-tab.html" %}
        
          </div>
 
        </div>
      
      </div>
        
      {% include "includes/js-includes.html" %}
  
  </body>
</html>
