<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AutoPort</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/lib/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/lib/wave.css') }}" rel="stylesheet"/>

    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet"/>

    <!-- datatable -->
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="http://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.css"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>
    <div class="container" id="toolContainer">

    <!-- START HEADER -->

    <div class="jumbotron">
      <h1>
        AutoPort
        <button class="btn btn-primary modalButton" data-toggle="modal" data-target="#settingsModal">
          <span class="glyphicon glyphicon-wrench"></span> Settings
        </button>
      </h1>

      <button type="button" id="toggleHelpBtn" class="btn btn-primary buttonRight" onClick="globalState.toggleHelp()">
        Hide help
      </button>
      <div id="helpViewer" rv-show="globalState.isHelpDisplayed">
        <div id="searchTabHeader" rv-show="globalState.isSearchTabActive">
          <p>This tool allows you to locate and evaluate projects for porting. It displays 
             and color codes relevant information, allowing you to quickly estimate how much effort a port might take.</p>
          <p>You can also setup a basic Jenkins job for the project with one click.</p>
          <p>You also have the ability to create a batch file to build and test multiple projects.</p>
        </div>

        <div id="batchTabHeader" rv-show="globalState.isBatchTabActive">
          <p>Import - Allows you to select a local batch file and upload it to the server where the tool is running.</p>
          <p>List/Select - List and take action on batch files located on the server and the registered shared location.</p>
          <ul>
          <li>Submit - create a Jenkins job for each project listed in the batch file.</li>
          <li>Archive - when a batch file is successfully built and tested, you can make it globally 
              visible by copying it to the registered batch directory in gsa.</li>
          <li>Remove - erase a batch file from the server or the shared location.</li>
          </ul>
        </div>

        <div id="reportsTabHeader" rv-show="globalState.isReportsTabActive">
          <p>You may look at the test history of a project or batch file and generate comparisons across platforms and project versions.
             Like batch files, test results are stored locally on the server, until you archive them to the shared location.</p>
          <p>Select the type of report that you would like generated.</p>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="modalLabel">Settings</h4>
            </div>
            <div class="modal-body" id="settingsModal">
              <div class="attributes modalAttributes">
                <div>
                  <label class="url">Jenkins Url</label>
                  <span> <input type="text" id="url" rv-value="globalState.jenkinsUrl"> </span>
                </div>
                <div>
                  <label class="test_results">Local Test Results Path</label>
                  <span> <input type="text" id="ltest_results" rv-value="globalState.localPathForTestResults"> </span>
                </div>
                <div>
                  <label class="test_results">Archived Test Results Path</label>
                  <span> <input type="text" id="gtest_results" rv-value="globalState.pathForTestResults"> </span>
                </div>
                <div>
                  <label class="batch_files">Local Batch Files Path</label>
                  <span> <input type="text" id="lbatch_files" rv-value="globalState.localPathForBatchFiles"> </span>
                </div>
                <div>
                  <label class="batch_files">Archived Batch Files Path</label>
                  <span> <input type="text" id="gbatch_files" rv-value="globalState.pathForBatchFiles"> </span>
                </div>
                <div>
                  <label class="github">Github Token</label>
                  <span> <input type="text" id="github" rv-value="globalState.githubToken"> </span>
                </div>
                <div> 
                  <label class="github">Configuration Username</label>
                  <span> <input type="text" id="username" rv-value="globalState.configUsername"> </span>
                </div>
                <div> 
                  <label class="github">Configuration Password</label>
                  <span> <input type="password" id="password" rv-value="globalState.configPassword"> </span>
                </div>
              </div> <!-- attributes --> 
            </div> <!-- modal-body -->
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button rv-on-click="globalState.reset" type="button" class="btn btn-primary">Reset to Default</button>
              <button rv-on-click="globalState.updateParameters" type="button" class="btn btn-primary" data-dismiss="modal">Save Changes</button>
            </div>
          </div> <!-- modal-content -->
        </div> <!-- modal-dialog -->
      </div> <!-- modal fade -->
    </div> <!-- end of jumbotron -->

    <!-- END HEADER -->

    <div class="jumbotron">

      <ul id="testtest" class="nav nav-tabs nav-justified">
        <li class="active"><a rv-on-click="globalState.headerChange" id="searchTab" data-toggle="tab" href="#searchProject">Search</a></li>
        <li><a rv-on-click="globalState.headerChange" id="batchTab" data-toggle="tab" href="#batchJobs">Batch Jobs</a></li>
        <li><a rv-on-click="globalState.headerChange" id="reportsTab" data-toggle="tab" href="#jobReports">Reports</a></li>
        <li><a rv-on-click="globalState.headerChange" id="jenkinsTab" data-toggle="tab" href="#jenkinsStatus">Jenkins</a></li>
      </ul>

      <br />

      <div class="tab-content">

        <!-- START SEARCH TAB -->

        <div id="searchProject" class="tab-pane fade in active">

          <!-- START SEARCH PROJECT BOX -->

          <div class="jumbotron">
            <div class="btn btn-default btn-block" rv-on-click="searchState.single.setSearchBox" id="singleSearchButton">
              <h2 class="text-center">Search for a single project</h2>
            </div>

            <div class="jumbotron-button-content" id="searchBox" rv-show="searchState.single.searchBoxReady">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="(e.g. redis, cassandra, mongo)" id="query"/>
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Sort by { searchState.single.sorting } <span class="caret"></span></button>
                  <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li rv-on-click="searchState.single.changeSort" rv-hide="searchState.single.sorting | isRelevance"><a>Relevance</a></li>
                    <li rv-on-click="searchState.single.changeSort" rv-hide="searchState.single.sorting | isStars"><a>Popularity Stars</a></li>
                    <li rv-on-click="searchState.single.changeSort" rv-hide="searchState.single.sorting | isForks"><a>Forks</a></li>
                    <li rv-on-click="searchState.single.changeSort" rv-hide="searchState.single.sorting | isUpdated"><a>Updated</a></li>
                  </ul>
                </div>
              </div>

              <br />
              
              <!-- START AUTOSELECT ALERT BOX -->

              <div class="alert alert-success autoselect-alert clearfix" rv-show="detailState.autoSelected" role="alert">
                <span class="autoSelectText"><strong>Auto-selected</strong> this repository because it <strong>matches the query exactly</strong>, was the <strong>top hit</strong>, and has <strong>{ detailState.repo.stars } popularity stars</strong>.</span>
                <a class="exitAutoSelect buttonRight" rv-show="detailState.autoSelected" rv-on-click="detailState.exitAutoSelect">
                  <button type="button" class="btn btn-default exitAutoSelectButton">
                    <span class="glyphicon glyphicon-list"></span>
                    See all results
                  </button>
                </a>
              </div>
           
              <!-- END AUTOSELECT ALERT BOX -->

              <!-- START DETAIL VIEW -->

              <div id="singleDetailPanel" class="panel panel-default" rv-show="detailState.ready">
                <div class="panel-body">
                  <h1>
                    <a title="Owner" class="small" rv-href="detailState.repo.owner_url" rv-text="detailState.repo.owner"></a>
                    /
                    <a title="Repository" class="result-title" rv-href="detailState.repo.url" rv-text="detailState.repo.name"></a>
                    
                    <div class="dropdown buttonRight">
                    
                      <!-- Dropdown box for choosing what kind of java to use. -->
                      <div class="input-group-btn">
                        <button rv-show="detailState.repo.language | isJava" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Use { detailState.javaType } <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                          <li rv-on-click="detailState.selectJavaType"><a>Open JDK</a></li>
                          <li rv-on-click="detailState.selectJavaType"><a>IBM Java</a></li>
                        </ul>
                      </div>
                    
                      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        Add to Jenkins
                        <span class="caret"></span>
                      </button>
                      
                      <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li role="presentation" class="dropdown-header">Recent</li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" rv-on-click="detailState.repo.addToJenkins">Current</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" rv-on-click="detailState.repo.addToJenkins">{ detailState.repo.recentTag }</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation" class="dropdown-header">Older</li>
                        <li role="presentation" rv-each-tag="detailState.repo.tags"><a role="menuitem" tabindex="-1" rv-on-click="detailState.repo.addToJenkins">{ tag }</a></li>
                      </ul>
                    </div>
                  </h1>

                  <span title="Star count" class="tip label fatLabel" rv-classification="detailState.repo.classifications.stars">
                    <span class="glyphicon glyphicon-star"></span>
                    { detailState.repo.stars }
                  </span>
                  <span title="Fork count" class="tip label fatLabel" rv-classification="detailState.repo.classifications.forks">
                    <span class="glyphicon glyphicon-random"></span>
                    { detailState.repo.forks }
                  </span>
                  <span title="Primary language" class="tip label fatLabel" rv-classification="detailState.repo.classifications.language">
                    <span class="glyphicon glyphicon-wrench"></span>
                    { detailState.repo.language }
                  </span>
                  <span title="Repository size" class="tip label fatLabel" rv-classification="detailState.repo.classifications.size">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                    { detailState.repo.size_kb | size }
                  </span>
                  <span title="Last updated" class="tip label fatLabel" rv-classification="detailState.repo.classifications.date">
                    <span class="glyphicon glyphicon-calendar"></span>
                    updated { detailState.repo.last_update | date }
                  </span>
                  <h3>Description</h3>
                  <blockquote>
                    <p class="detail-description" rv-text="detailState.repo.description"></p>
                  </blockquote>
                  <span class=".clearfix chart-container">
                    <h3>Language Composition</h3>
                    <canvas class="chart" id="langChart" width="150" height="150"></canvas>
                    <ul id="langLegend"></ul>
                  </span>
                  <span rv-show="detailState.repo.build.success" class="build-steps">
                    <h3>Build steps</h3>
                    <small>
                      Inferred based on the existence of 
                      <strong rv-text="detailState.repo.build.reason"></strong>
                    </small>
                    <pre rv-text="detailState.repo.build.build"></pre>
                  </span>
                  <a class="backToResults" rv-hide="detailState.autoSelected" rv-on-click="detailState.backToResults">
                    <button id="singleDetailBackButton" type="button" class="btn btn-info">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                      Back to results
                    </button>
                  </a>
                </div>
              </div>

              <!-- END DETAIL VIEW -->

              <!-- START MULTIPLE RESULTS TABLE -->

              <div id="resultsPanel" class="panel panel-default" rv-show="searchState.single.ready">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Repositories</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody id="resultsTable" rv-each-result="searchState.single.results">
                    <tr class="result-row">
                      <td>
                        <a title="Owner" class="tip" rv-href="result.owner_url" rv-text="result.owner"></a>
                        /
                        <a title="Repository" class="tip result-title" rv-href="result.url" rv-text="result.name"></a>
                        <span title="Star count" class="tip label first-label" rv-classification="result.classifications.stars">
                          <span class="glyphicon glyphicon-star"></span>
                          { result.stars }
                        </span>
                        <span title="Fork count" class="tip label" rv-classification="result.classifications.forks">
                          <span class="glyphicon glyphicon-random"></span>
                          { result.forks }
                        </span>
                        <span title="Primary language" class="tip label" rv-classification="result.classifications.language">
                          <span class="glyphicon glyphicon-wrench"></span>
                          { result.language }
                        </span>
                        <span title="Repository size" class="tip label" rv-classification="result.classifications.size">
                          <span class="glyphicon glyphicon-floppy-disk"></span>
                          { result.size_kb | size }
                        </span>
                        <span title="Last updated" class="tip label" rv-classification="result.classifications.date">
                          <span class="glyphicon glyphicon-calendar"></span>
                          updated { result.last_update | date }
                        </span>

                        <br />

                        <p class="candidate-description text-muted" rv-text="result.description"></p>
                      </td>
                      <td>
                        <a rv-on-click="result.addToBatchFile">
                          <button type="button" class="btn btn-primary">
                            <span class="glyphicon glyphicon-plus"></span>
                            Add to Batch
                          </button>
                        </a>
                      </td>
                      <td>
                        <a rv-on-click="result.select">
                          <button type="button" class="singleDetailButton btn btn-primary">
                            <span class="glyphicon glyphicon-zoom-in"></span>
                            Details
                          </button>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <!-- END MULTIPLE RESULTS TABLE -->

            </div>
          </div> <!-- jumbotron -->
          
          <!-- END SEARCH PROJECT BOX -->

          <!-- START SEARCH FOR MULTIPLE PROJECTS BOX -->

          <div class="jumbotron">
            <div class="btn btn-default btn-block" rv-on-click="searchState.multiple.setSearchBox" id="generateBatchButton">
              <h2 class="text-center">Search for most commonly used projects</h2>
            </div>
            <div id="generateBox" class="jumbotron-button-content" rv-show="searchState.multiple.searchBoxReady">
              <div class="row">
                <div class="col-lg-4">
                  <div class="input-group">
                    <span class="input-group-addon">Top</span>
                    <input type="number" class="form-control" rv-value="searchState.multiple.query.limit">
                    <span class="input-group-addon">Repositories</span>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="input-group">
                    <span class="input-group-addon">Using</span>
                    <select class="form-control" rv-value="searchState.multiple.query.sort">
                      <option value="stars">Popularity Stars</option>
                      <option value="forks">Forks</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-4">
                  <select class="form-control" rv-value="searchState.multiple.query.language">
                    <option value="any">Any programming language</option>
                    <option value="java">Java</option>
                    <option value="python">Python</option>
                    <option value="javascript">JavaScript</option>
                    <option value="ruby">Ruby</option>
                    <option value="c">C</option>
                    <option value="c++">C++</option>
                  </select>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-lg-3">
                  <select class="form-control" rv-value="searchState.multiple.query.version">
                    <option value="current">Current</option>
                    <option value="recent">Recent release</option>
                  </select>
                </div>
                <div class="col-lg-3">
                  <div class="input-group">
                    <span class="input-group-addon">></span>
                    <input type="number" class="form-control" rv-value="searchState.multiple.query.stars">
                    <span class="input-group-addon">Popularity Stars</span>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="input-group">
                    <span class="input-group-addon">></span>
                    <input type="number" class="form-control" rv-value="searchState.multiple.query.forks">
                    <span class="input-group-addon">Forks</span>
                  </div>
                </div>
                <div class="col-lg-3">
                  <button class="btn btn-primary" rv-on-click="searchState.multiple.query.generate">Search</button>
                </div>
              </div>              
              
              <br />

              <!-- START BATCH FILE TABLE -->

              <div id="batchFilePanel" class="panel panel-default" rv-show="searchState.multiple.exportReady">
                <a rv-on-click="searchState.multiple.download">
                  <button type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-download"></span>
                    Export
                  </button>
                </a>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Batch File Repositories</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody id="batchFileTable" rv-each-package="searchState.multiple.batchFile.packages">
                    <tr class="result-row">
                      <td>
                        <a title="Owner" class="tip" rv-href="package.owner_url" rv-text="package.owner"></a>
                        /
                        <a title="Repository" class="tip result-title" rv-href="package.url" rv-text="package.name"></a>
                        <span title="Star count" class="tip label first-label" rv-classification="package.classifications.stars">
                          <span class="glyphicon glyphicon-star"></span>
                          { package.stars }
                        </span>
                        <span title="Fork count" class="tip label" rv-classification="package.classifications.forks">
                          <span class="glyphicon glyphicon-random"></span>
                          { package.forks }
                        </span>
                        <span title="Primary language" class="tip label" rv-classification="package.classifications.language">
                          <span class="glyphicon glyphicon-wrench"></span>
                          { package.language }
                        </span>
                        <span title="Repository size" class="tip label" rv-classification="package.classifications.size">
                          <span class="glyphicon glyphicon-floppy-disk"></span>
                          { package.size_kb | size }
                        </span>
                        <span title="Last updated" class="tip label" rv-classification="package.classifications.date">
                          <span class="glyphicon glyphicon-calendar"></span>
                          updated { package.last_update | date }
                        </span>
           
                        <br />

                        <p class="candidate-description text-muted" rv-text="package.description"></p>
                      </td>
                      <td>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <!-- END BATCH FILE TABLE -->
              
              <!-- START DETAIL VIEW -->

              <div id="generateDetailPanel" class="panel panel-default" rv-show="detailState.generateReady">
                <div class="panel-body">
                  <h1>
                    <a title="Owner" class="small" rv-href="detailState.generateRepo.owner_url" rv-text="detailState.generateRepo.owner"></a>
                    /
                    <a title="Repository" class="result-title" rv-href="detailState.generateRepo.url" rv-text="detailState.generateRepo.name"></a>

                    <div class="dropdown buttonRight">
                    
                      <!-- Dropdown box for choosing what kind of java to use. -->
                      <div class="input-group-btn">
                        <button rv-show="detailState.generateRepo.language | isJava" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Use { detailState.generateJavaType } <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                          <li rv-on-click="detailState.selectGenerateJavaType"><a>Open JDK</a></li>
                          <li rv-on-click="detailState.selectGenerateJavaType"><a>IBM Java</a></li>
                        </ul>
                      </div>
                    
                      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        Add to Jenkins
                        <span class="caret"></span>
                      </button>
                      
                      <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li role="presentation" class="dropdown-header">Recent</li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" rv-on-click="detailState.generateRepo.addToJenkins">Current</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" rv-on-click="detailState.generateRepo.addToJenkins">{ detailState.generateRepo.recentTag }</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation" class="dropdown-header">Older</li>
                        <li role="presentation" rv-each-tag="detailState.generateRepo.tags"><a role="menuitem" tabindex="-1" rv-on-click="detailState.generateRepo.addToJenkins">{ tag }</a></li>
                      </ul>
                    </div>
                  </h1>

                  <span title="Star count" class="tip label fatLabel" rv-classification="detailState.generateRepo.classifications.stars">
                    <span class="glyphicon glyphicon-star"></span>
                    { detailState.generateRepo.stars }
                  </span>
                  <span title="Fork count" class="tip label fatLabel" rv-classification="detailState.generateRepo.classifications.forks">
                    <span class="glyphicon glyphicon-random"></span>
                    { detailState.generateRepo.forks }
                  </span>
                  <span title="Primary language" class="tip label fatLabel" rv-classification="detailState.generateRepo.classifications.language">
                    <span class="glyphicon glyphicon-wrench"></span>
                    { detailState.generateRepo.language }
                  </span>
                  <span title="Repository size" class="tip label fatLabel" rv-classification="detailState.generateRepo.classifications.size">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                    { detailState.generateRepo.size_kb | size }
                  </span>
                  <span title="Last updated" class="tip label fatLabel" rv-classification="detailState.generateRepo.classifications.date">
                    <span class="glyphicon glyphicon-calendar"></span>
                    updated { detailState.generateRepo.last_update | date }
                  </span>
                  <h3>Description</h3>
                  <blockquote>
                    <p class="detail-description" rv-text="detailState.generateRepo.description"></p>
                  </blockquote>
                  <span class=".clearfix chart-container">
                    <h3>Language Composition</h3>
                    <canvas class="chart" id="generateLangChart" width="150" height="150"></canvas>
                    <ul id="generateLangLegend"></ul>
                  </span>
                  <span rv-show="detailState.generateRepo.build.success" class="build-steps">
                    <h3>Build steps</h3>
                    <small>
                      Inferred based on the existence of 
                      <strong rv-text="detailState.generateRepo.build.reason"></strong>
                    </small>
                    <pre rv-text="detailState.generateRepo.build.build"></pre>
                  </span>
                  <a class="backToResults" rv-hide="detailState.autoSelected" rv-on-click="detailState.backToResults">
                    <button id="generateDetailBackButton" type="button" class="btn btn-info">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                      Back to results
                    </button>
                  </a>
                </div>
              </div>

              <!-- END DETAIL VIEW -->
    
              <!-- START MULTIPLE RESULTS TABLE -->

              <div id="resultsPanel" class="panel panel-default" rv-show="searchState.multiple.ready">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Repositories</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody id="resultsTable" rv-each-result="searchState.multiple.results">
                    <tr class="result-row">
                      <td>
                        <a title="Owner" class="tip" rv-href="result.owner_url" rv-text="result.owner"></a>
                        /
                        <a title="Repository" class="tip result-title" rv-href="result.url" rv-text="result.name"></a>
                        <span title="Star count" class="tip label first-label" rv-classification="result.classifications.stars">
                          <span class="glyphicon glyphicon-star"></span>
                          { result.stars }
                        </span>
                        <span title="Fork count" class="tip label" rv-classification="result.classifications.forks">
                          <span class="glyphicon glyphicon-random"></span>
                          { result.forks }
                        </span>
                        <span title="Primary language" class="tip label" rv-classification="result.classifications.language">
                          <span class="glyphicon glyphicon-wrench"></span>
                          { result.language }
                        </span>
                        <span title="Repository size" class="tip label" rv-classification="result.classifications.size">
                          <span class="glyphicon glyphicon-floppy-disk"></span>
                          { result.size_kb | size }
                        </span>
                        <span title="Last updated" class="tip label" rv-classification="result.classifications.date">
                          <span class="glyphicon glyphicon-calendar"></span>
                          updated { result.last_update | date }
                        </span>

                        <br />

                        <p class="candidate-description text-muted" rv-text="result.description"></p>
                      </td>
                      <td>
                        <a rv-on-click="result.addToBatchFile">
                          <button type="button" class="btn btn-primary">
                            <span class="glyphicon glyphicon-plus"></span>
                            Add to Batch
                          </button>
                        </a>
                      </td>
                      <td>
                        <a rv-on-click="result.select">
                          <button type="button" class="generateDetailButton btn btn-primary">
                            <span class="glyphicon glyphicon-zoom-in"></span>
                            Details
                          </button>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <!-- END MULTIPLE RESULTS TABLE -->

            </div>
          </div> <!-- jumbotron -->

          <!-- END SEARCH FOR MULTIPLE PROJECTS BOX -->

        </div> <!-- tab-pane -->

        <!-- END SEARCH TAB -->

        <!-- START BATCH JOB TAB -->

        <div id="batchJobs" class="tab-pane fade">

          <!-- START IMPORT BOX -->

          <div class="jumbotron"> 
          
            <div class="btn btn-default btn-block" rv-on-click="batchState.setImportBox" id="importButton">
              <h2 class="text-center">Import</h2>
            </div>

            <div class="input-group jumbotron-button-content" id="fileUploadBox" rv-show="batchState.importBox">
              <input type="text" class="form-control" placeholder="No file selected for uploading." id="uploadFilename" disabled/>
              <div class="input-group-btn">
                <div class="btn btn-default btn-file">
                  Select File <input type="file" id="batch_file">
                </div>
              </div>
              <div class="input-group-btn">
                <div rv-on-click="batchState.upload" class="btn btn-primary">
                  Upload
                </div>
              </div>
            </div>

          </div> <!-- jumbotron -->

          <!-- END IMPORT BOX -->

          <!-- START LIST/SELECT BATCH FILES -->

          <div class="jumbotron">

            <div class="btn btn-default btn-block" rv-on-click="batchState.listBatchFiles" id="listButton">
              <h2 class="text-center">List/Select</h2>
            </div>

            <div id="batchListPanel" class="panel panel-default jumbotron-button-content" rv-show="batchState.ready">
              <table class="table" id="batchListTable">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Environment</th>
                    <th>File Details</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody rv-each-result="batchState.file_list">
                  <tr class="result-row">
                    <td>
                      { result.name }
                    </td>
                    <td>
                      { result.location }
                    </td>
                    <td>
                      { result.environment }
                    </td>
                    <td>
                      Size: { result.size } bytes
                      <br />
                      Date Modified: { result.datemodified }
                      <br />
                      Owner: { result.owner }
                    </td>
                    <td>
                      <a rv-on-click="batchState.buildAndTest">
                        <button type="button" class="btn btn-primary">
                        Build + Test
                        </button>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div> <!-- jumbotron -->

          <!-- END LIST/SELECT BATCH FILES -->

        </div> <!-- tab-pane -->
        
        <!-- END BATCH TAB PROCESSING -->

        <!-- START REPORTS TAB -->

        <div id="jobReports" class="tab-pane fade">

          <!-- START MANAGE PROJECT RESULTS -->

          <div class="jumbotron">
            <div class="btn btn-default btn-block" rv-on-click="reportState.setJobManagePanel" id="jobManageButton">
              <h2 class="text-center">Manage/Compare project results</h2>
            </div>
            <div id="jobManagePanel"
                class="jumbotron-button-content"
                rv-show="reportState.jobManagePanel">
              <div class="row">
                <div class="col-lg-8">
                  <input type="text"
                      class="form-control"
                      placeholder="(e.g. redis, cassandra, mongo)"
                      id="projectFilter"/>
                </div>
                
                <div class="col-lg-4">
                  <a rv-on-click="reportState.listLocalProjects">
                    <button type="button" class="btn btn-primary">
                      List local
                    </button>
                  </a>
                  <a rv-on-click="reportState.listGSAProjects">
                    <button type="button" class="btn btn-primary">
                      List archived
                    </button>
                  </a>
                  <a rv-on-click="reportState.listAllProjects">
                    <button type="button" class="btn btn-primary">
                      List all
                    </button>
                  </a>
                </div>
              </div>
           
              <br /> 

              <!-- START PROJECT COMPARE RESULTS SELECT TABLE -->

              <div class="modal fade" id="resultCompareSelectionAlert" tabindex="-1" role="dialog" aria-labelledby="compareModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                      <h4 class="modal-title" id="myModalLabel">Selection error</h4>
                    </div>
                    <div class="modal-body">
                      You can only run comparison on 2 projects.
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
    <div class="modal fade" id="archiveCallbackAlert" tabindex="-1" role="dialog" aria-labelledby="archiveCallbackLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          </div>
          <div class="modal-body" id="archiveCallbackText">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

              <div class="alert alert-success clearfix"
                   id="testCompareRunAlert"
                   rv-show="projectReportState.prjCompareReady">
                <span class="autoSelectText">This is the list of { projectReportState.compareRepo } { projectReportState.compareType } results. Select the project(s) and action you wish to perform.</span>
                <br/>
                <div class="row">
                  <button type="button"
                      class="btn btn-primary disabled"
                      id="testHistoryBtn"
                      rv-on-click="projectReportState.testHistory">
                  Test History
                  </button>
                  <button type="button"
                      class="btn btn-primary disabled"
                      id="testDetailBtn"
                      rv-on-click="projectReportState.testDetail">
                  Test Detail
                  </button>
                  <button type="button"
                      class="btn btn-primary disabled"
                      rv-on-click="projectReportState.compareResults"
                      id="compareResultsBtn">
                  Test Compare (2)
                  </button>
                  <button type="button"
                      class="btn btn-primary disabled"
                      id="resultArchiveBtn"
                      rv-on-click="projectReportState.archive">
                  Archive
                  </button>
                  <span class="buttonRight">
                    <button type="button" class="btn btn-primary"
                      rv-on-click="projectReportState.selectAll">
                    Select All
                    </button>
                    <button type="button" class="btn btn-primary"
                      rv-on-click="projectReportState.selectNone">
                    Select None
                    </button>
                  </span>
                </div>
              </div>

              <div id="testCompareSelectPanel"
                  class="panel panel-default"
                  rv-show="projectReportState.prjCompareReady">
                <table class="table table-hover" id="projectListTable">
                  <thead>
                    <tr>
                      <th>Project name</th>
                      <th>Version</th>
                      <th>Environment</th>
                      <th>Operating System</th>
                      <th>Completed</th>
                      <th>Repository</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody id="projectsTable">
                  </tbody>
                </table>
              </div>

              <div id="testCompareTablePanel"
                  class="panel panel-default"
                  rv-show="projectReportState.prjTableReady">
                <span class="panel panel-primary">
                  <div class="panel-heading">Test results <span id="prjHeader"></span></div>
                  <div class="table-container">
                    <table id="testResultsTable">
                      <tr id="testResultsTableHeader">
                        <th>Test</th>
                        <th>x86</th>
                        <th>LE</th>
                      </tr>
                    </table>
                  </div>
                </span>
                <a class="backToResults" rv-on-click="projectReportState.backToList">
                  <button type="button" class="btn btn-info">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  Back to list
                  </button>
                </a>
              </div>
              
              <!-- END PROJECT COMPARE RESULTS SELECT TABLE -->
            
            </div>
          </div>

          <!-- END MANAGE PROJECT RESULTS -->

          <!-- START MANAGING BATCH JOB RESULTS -->

          <div class="jumbotron">
            <div class="btn btn-default btn-block" rv-on-click="reportState.setTestResultsPanel" id="testResultsButton">
              <h2 class="text-center">Manage/Compare batch jobs results</h2>
            </div>
            <div id="testResultsPanel"
                class="jumbotron-button-content"
                rv-show="reportState.testResultsPanel">
              <div class="row">
                <div class="col-lg-8">
                  <input type="text"
                      class="form-control"
                      placeholder="(e.g. my-java-jobs)"
                      id="batchFilter"/>
                </div>
                <div class="col-lg-4">
                  <a rv-on-click="reportState.listLocalBatch">
                    <button type="button" class="btn btn-primary">
                      List local
                    </button>
                  </a>
                  <a rv-on-click="reportState.listGSABatch">
                    <button type="button" class="btn btn-primary">
                      List archived
                    </button>
                  </a>
                  <a rv-on-click="reportState.listAllBatch">
                    <button type="button" class="btn btn-primary">
                      List all
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <!-- END MANAGING BATCH JOB RESULTS -->

        </div> <!-- tab pane -->

        <!-- END REPORTS TAB -->

        <!-- START JENKINS TAB -->

        <div id="jenkinsStatus" class="tab-pane fade">
          <div class="jumbotron">
            <div class="btn btn-default btn-block" rv-on-click="jenkinsState.setJenkinsPanel" id="jenkinsManageButton">
              <h2 class="text-center">Show Jenkins Status</h2>
            </div>

            <div id="jenkinsPanel" class="jumbotron-button-content" rv-show="jenkinsState.jenkinsPanel">

              <div class="jlink" id="jenkinsLink">
                <ul class="text linkText" >
                  Jenkins Page: <a rv-href="globalState.jenkinsUrl">{ globalState.jenkinsUrl }</a> 
                </ul>
              </div>

              <button rv-on-click="percentageState.updateProgressBar" type="button" class="btn btn-primary progressButton">Check Progress</button>
              <ul class="text progressText" >
                Total Number of Jobs on this Tab: { percentageState.totalNumberOfJobs }
                <li>Successful Jobs (green): { percentageState.successfulJobs }</li>
                <li>Unstable Jobs (yellow): { percentageState.unstableJobs }</li>
                <li>Failing Jobs (red): { percentageState.failingJobs }</li>
                <li>Disabled or Unfinished Jobs (white): { percentageState.unfinishedJobs }</li>
              </ul>

              <div class="progressSettings" id="progressBar">
                <div class="progress progress-bar-primary">
                  <div class="bar bar-success progress-bar progress-bar-success" rv-style="percentageState.successPercentage"></div>
                  <div class="bar bar-warning progress-bar progress-bar-warning" rv-style="percentageState.warningPercentage"></div>
                  <div class="bar bar-danger progress-bar progress-bar-danger" rv-style="percentageState.dangerPercentage"></div>
                </div>
              </div>
            </div>
          </div>

        </div> <!-- tab pane -->

        <!-- END JENKINS TAB -->

      </div> <!-- tab-content -->
    </div> <!-- jumbotron -->

    <!-- START LOADING PANEL -->

    <div id="loadingPanel" class="panel panel-default" role="alert" rv-show="loadingState.loading">
      <div class="panel-body">
        <div class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>
      </div>
    </div>

    <!-- END LOADING PANEL -->

    <!-- START MULTIPLE RESULTS ALERT BOX -->

    <!--
    <div class="alert alert-info multiple-alert" rv-show="searchState.ready" role="alert">
      There are multiple results for <strong>{ searchState.query }</strong>. Please select one.
    </div>
    -->

    <!-- END MULTIPLE RESULTS ALERT BOX -->
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Hashing algorithms, as element IDs can't have any special chars -->
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>
    <script src="http://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script src="{{ url_for('static', filename='js/lib/rivets.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/legend.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/moment.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/tinycolor.js') }}"></script>
    <script src="{{ url_for('static', filename='js/binders.js') }}"></script>
    <script src="{{ url_for('static', filename='js/formatters.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </div>
  </body>
</html>
