{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Images" %}{% endblock %}

{% block crumbtitle %}
  <li>
      {% trans "Admin" %}
  </li>
  <li>
      {% trans "Images" %}
  </li>
{% endblock crumbtitle %}

{% block main %}
  <section id="widget-grid" class="">
    <div class="row">
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget jarviswidget-color-darken" data-widget-editbutton="false" data-widget-deletebutton="false">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>{% trans "Images" %} </h2>
          </header>
          <div>
            <div class="jarviswidget-editbox">
            </div>
              {{ table.render }}
          </div>
        </div>
      </article>
    </div>
  </section>
{% endblock %}
