{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_id %}launch_stack_form{% endblock %}
{% block form_action %}{% url 'horizon:project:stacks:launch' %}{% endblock %}

{% block modal-header %}{% trans "Launch Cluster" %}{% endblock %}

{% block modal-body %}
    <div class="row">
            <table>
            <tr>
                <td width="20"></td>
                <td>{% trans " - create and deploy autoport cluster in supervessel. 6 instances will be created:"%}</td>
            </tr>

            <tr>
                <td></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;{% trans  "- autoport driver"%}</td>
            </tr>
            <tr>
                <td></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;{% trans  "- jenkins master"%}</td>
            </tr>
            <tr>
                <td></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;{% trans  "- jenkins slave on rhel x86"%}</td>
            </tr>
            <tr>
                <td></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;{% trans  "- jenkins slave on rhel power"%}</td>
            </tr>
            <tr>
                <td></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;{% trans  "- jenkins slave on ubuntu x86"%}</td>
            </tr>
            <tr>
                <td></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;{% trans  "- jenkins slave on ubuntu power" %}</td>
            </tr>

            </table>
    </div>
{% endblock %}

{% block modal-footer %}
    <input class="btn btn-primary pull-right" id="stack_submit" type="submit"  value="{% trans 'Launch Cluster' %}" />
    <button type="button" class="btn bg-color-redLight cancel" data-dismiss="modal">{% trans "Cancel" %}</button>&nbsp;&nbsp;
{% endblock %}

{% block modal-js %}
    <script src="{{ STATIC_URL }}dashboard/smartadmin/js/plugin/bootstrapvalidator/bootstrapValidator.min.js"></script>
    <script type="text/javascript">
        function update_stack_choices(field) {
            var $this = $(field);
            $this.closest(".form-group").nextAll().hide();
            $("input:radio[name=node_count]").removeAttr("checked");
            $("input:radio[name=disk_size]").removeAttr("checked");
            $("#stack_submit").attr("disabled", "disabled");
            if ($("input:radio[name=service_type]:checked").size() > 0) {
                $("#id_node_count").closest(".form-group").show();
            }
        }
        $(document).on('change', '#id_service_type', function (evt) {
            update_stack_choices(this);
        });
        $(document).on('change', "#id_node_count", function (evt) {
            if ($("input:radio[name=node_count]:checked").size() > 0){
                $("#id_disk_size").closest(".form-group").show();
            }
        });
        $(document).on('change', "#id_disk_size", function (evt) {
            if ($("input:radio[name=disk_size]:checked").size() > 0){
                $("#stack_submit").removeAttr("disabled");
            }
        });
        $('#id_service_type').change();
    </script>
{% endblock %}
